APP_ENVIRONMENT = "development" # || staging || production
PORT = 8001
FAST_API_URL = "http://localhost:8000/api"
FAST_API_SENTENCE_CHECKER_URL = "http://localhost:8000/api/v1/sentenceChecker/checkSentence"
RATE_LIMIT_RESET_SECONDS = 10000
RATE_LIMIT_ATTEMPTS = 10
